{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}

    <div class="form-group">
        <label for="category">Category Name:</label>
        {{ form_widget(form.CatName,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Category name'
            }
        }) }}
    </div>

    <input type="submit" name="edit_category" value="edit" class="btn btn-primary"/>
    {{ form_end(form) }}
{% endblock %}